<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.blitzscale.incentive-task-refresh</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/pawank/metabase-arr-refresh/incentive_task_refresh.py</string>
        <string>--push</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/pawank/Incentive-Automation</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>6</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/pawank/metabase-arr-refresh/incentive_task_refresh.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/pawank/metabase-arr-refresh/incentive_task_refresh.log</string>
</dict>
</plist>
